[submodule "theme"]
	path = theme
	url = https://github.com/vuestorefront-community/template-odoo
	branch = dev
[submodule "packages/theme"]
	path = packages/theme
	url = https://github.com/vuestorefront-community/template-odoo
	branch = dev
