.mobileMenu {
    --sidebar-z-index: 3;
    --overlay-z-index: 3;
    --sidebar-top-padding: var(--spacer-lg) var(--spacer-base) 0
      var(--spacer-base);
    --sidebar-content-padding: var(--spacer-lg) var(--spacer-base);
  }
  
  .heading {
    &__wrapper {
      --heading-title-color: var(--c-link);
      --heading-title-font-weight: var(--font-weight--semibold);
      display: flex;
      justify-content: space-between;
    }
  }
  
  .sidebar-bottom {
    margin: auto 0 0 0;
  }
  
::v-deep .sf-list .sf-list__item {
  padding: 10px 0;
}  
